### RANK OVER

In [ ]:
SELECT *,DENSE_RANK() OVER(ORDER BY Salary DESC) AS rank FROM Employee

In [ ]:
DENSE_RANK() OVER(ORDER BY Salary DESC) #111 2
RANK() OVER(ORDER BY Salary DESC) #111 4
ROW_NUMBER() OVER(ORDER BY Salary DESC) #1234

### CASE WHEN

In [ ]:
SELECT
CASE
    WHEN id%2=0 THEN id-1
    WHEN id=(SELECT COUNT(*) FROM seat) THEN id
    ELSE id+1
END id #只对id 这一列操作
,student FROM seat
ORDER BY id
#when searching at the same time